body { 
  background-color: #212529;
  color: #fff;
}
.sidebar {
  height: 100vh;
  background-color: #212529;
  color: #fff;
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  padding-top: 20px;
}
.sidebar h4 { text-align: center; margin-bottom: 30px; font-weight: 600; }
.sidebar a {
  color: #adb5bd;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}
.sidebar a:hover, .sidebar a.active { background-color: #495057; color: #fff; }
.content { margin-left: 250px; padding: 30px; }
.boss-card {
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background: #3f464e;
  padding: 20px;
  margin-bottom: 15px;
}
.countdown { font-size: 18px; font-weight: 600; color: #0d6efd; }
p.countdown {
  margin-bottom: 0 !important;
}

.modal-header {
  color: #000;
}

.modal-body {
  color: #000;
}

.text-uppercase {
  text-transform: uppercase;
}

/* === Boss Spawn Status Colors === */
/* .boss-card {
  transition: background-color 0.5s ease, transform 0.2s ease;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
} */

.boss-default {
  background-color: #2b2b2b;
  color: white;
}

.boss-soon {
  background-color: #ffcc00;
  color: #000;
}

.boss-spawning {
  background-color: #ff3b3b;
  color: white;
  transform: scale(1.02);
}

.boss-card .badge {
  margin-top: 8px;
  font-size: 0.9em;
}

/* Small circular guild indicator */
.guild-badge {
  display: inline-block;
  padding: 2px 6px;
  width: max-content;
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: 700;
  color: #fff;
  background-color: #808080;
  text-transform: uppercase;
  white-space: nowrap;
}
/* Color variants */
.guild-badge.Cloud9 { background-color: #00bfff; }
.guild-badge.Midnight { background-color: #15388577; }
.guild-badge.HellSing { background-color: #ff3b3b; }
.guild-badge.Sanctis { background-color: #28a745; }
.guild-badge.Celestials { background-color: #ffd54f; color: #111; }
.guild-badge.FFA { background-color: #808080; }
.guild-badge.Faction { background-color: #8f5186; }




